In [173]:
import pandas as pd
import numpy as np

In [174]:
Matches=pd.read_csv(r'/Users/macbook/Desktop/Super Bowl/Matches.csv')
Abb=pd.read_csv(r'/Users/macbook/Desktop/Super Bowl/Abbrevaitions.csv')
Abb

                Franchise Commonly Used Abbreviations
0       Arizona Cardinals                         ARI
1         Atlanta Falcons                         ATL
2        Baltimore Ravens                         BAL
3           Buffalo Bills                         BUF
4       Carolina Panthers                         CAR
5           Chicago Bears                         CHI
6      Cincinnati Bengals                         CIN
7        Cleveland Browns                         CLE
8          Dallas Cowboys                         DAL
9          Denver Broncos                         DEN
10          Detroit Lions                         DET
11      Green Bay Packers                          GB
12         Houston Texans                         HOU
13     Indianapolis Colts                         IND
14   Jacksonville Jaguars                         JAX
15     Kansas City Chiefs                          KC
16      Las Vegas Raiders                         OAK
17   Los Angeles Chargers                         LAC
18       Los Angeles Rams                         LAR
19         Miami Dolphins                         MIA
20      Minnesota Vikings                         MIN
21   New England Patriots                          NE
22     New Orleans Saints                          NO
23        New York Giants                         NYG
24          New York Jets                         NYJ
25    Philadelphia Eagles                         PHI
26    Pittsburgh Steelers                         PIT
27    San Francisco 49ers                          SF
28       Seattle Seahawks                         SEA
29   Tampa Bay Buccaneers                          TB
30       Tennessee Titans                         TEN
31  Washington Commanders                         WSH

In [175]:
Matches=Matches.merge(Abb, how="left" , left_on="Team1", right_on="Franchise")
Matches=Matches.merge(Abb, how="left" , left_on="Team2", right_on="Franchise")
Matches.head()

,Team1,Week,Game Number,Game Location,Team2,Team1_Score,Team2_Score,Team1_Passing,Team1_Rushing,Team1_Turnovers,Team2_Passing,Team2_Rushing,Team2_Turnovers,Franchise_x,Commonly Used Abbreviations_x,Franchise_y,Commonly Used Abbreviations_y
0,Arizona Cardinals,1,1,NaN,Kansas City Chiefs,21.0,44.0,179.0,103.0,0,360.0,128.0,1,Arizona Cardinals,ARI,Kansas City Chiefs,KC
1,Atlanta Falcons,1,1,NaN,New Orleans Saints,26.0,27.0,215.0,201.0,2,234.0,151.0,1,Atlanta Falcons,ATL,New Orleans Saints,NO
2,Baltimore Ravens,1,1,AWAY,New York Jets,24.0,9.0,211.0,63.0,1,297.0,83.0,2,Baltimore Ravens,BAL,New York Jets,NYJ
3,Buffalo Bills,1,1,AWAY,Los Angeles Rams,31.0,10.0,292.0,121.0,4,191.0,52.0,3,Buffalo Bills,BUF,Los Angeles Rams,LAR
4,Carolina Panthers,1,1,NaN,Cleveland Browns,24.0,26.0,207.0,54.0,1,138.0,217.0,0,Carolina Panthers,CAR,Cleveland Browns,CLE

In [176]:
Matches = Matches.rename(columns={'Commonly Used Abbreviations_x': 'Abb1'})
Matches = Matches.rename(columns={'Commonly Used Abbreviations_y': 'Abb2'})
Matches = Matches.drop('Franchise_x', axis=1)
Matches = Matches.drop('Franchise_y', axis=1)
Matches.head()

,Team1,Week,Game Number,Game Location,Team2,Team1_Score,Team2_Score,Team1_Passing,Team1_Rushing,Team1_Turnovers,Team2_Passing,Team2_Rushing,Team2_Turnovers,Abb1,Abb2
0,Arizona Cardinals,1,1,NaN,Kansas City Chiefs,21.0,44.0,179.0,103.0,0,360.0,128.0,1,ARI,KC
1,Atlanta Falcons,1,1,NaN,New Orleans Saints,26.0,27.0,215.0,201.0,2,234.0,151.0,1,ATL,NO
2,Baltimore Ravens,1,1,AWAY,New York Jets,24.0,9.0,211.0,63.0,1,297.0,83.0,2,BAL,NYJ
3,Buffalo Bills,1,1,AWAY,Los Angeles Rams,31.0,10.0,292.0,121.0,4,191.0,52.0,3,BUF,LAR
4,Carolina Panthers,1,1,NaN,Cleveland Browns,24.0,26.0,207.0,54.0,1,138.0,217.0,0,CAR,CLE

In [177]:
sum((Matches["Abb2"]).isnull())

0

In [180]:
AllTeam=pd.DataFrame()
Team_list=[]
for k in list((Matches["Abb1"]).unique()):
    for i in range(len(Matches)):
        if (Matches.Abb1.iloc[i]==k):
            Team_list.append(Matches.iloc[i])
    Team=pd.DataFrame(Team_list)
    Team["R_Team1_Score"]=Team["Team1_Score"].rolling(3).mean().shift(1)
    Team["R_Team1_Passing"]=Team["Team1_Passing"].rolling(3).mean().shift(1)
    Team["R_Team1_Rushing"]=Team["Team1_Rushing"].rolling(3).mean().shift(1)
    Team["R_Team1_Turnovers"]=Team["Team1_Turnovers"].rolling(3).mean().shift(1)

    AllTeam=pd.concat([AllTeam, Team] , axis=0, ignore_index=True)
    Team_list=[]

In [181]:
AllTeam["R_Team2_Score"]=None
AllTeam["R_Team2_Passing"]=None
AllTeam["R_Team2_Rushing"]=None
AllTeam["R_Team2_Turnovers"]=None

for i in range(len(AllTeam)):
    case=AllTeam.Team2.iloc[i]
    w=AllTeam.Week.iloc[i]
    for j in range(len(AllTeam)):
        if (AllTeam.Team1.iloc[j]==case) and (AllTeam.Week.iloc[j]==w):
            print(j)
            AllTeam["R_Team2_Score"].iloc[i]=AllTeam["R_Team1_Score"].iloc[j]
            AllTeam["R_Team2_Passing"].iloc[i]=AllTeam["R_Team1_Passing"].iloc[j]
            AllTeam["R_Team2_Rushing"].iloc[i]=AllTeam["R_Team1_Rushing"].iloc[j]
            AllTeam["R_Team2_Turnovers"].iloc[i]=AllTeam["R_Team1_Turnovers"].iloc[j]

263
284
320
73
445
503
394
359
506
326
487
310
383
172
530
32
494
388
319
500
126
520
483
110
77
307
79

/var/folders/s5/4b25bvq14pqbm1qxsg0hhlr40000gn/T/ipykernel_29856/715836050.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  AllTeam["R_Team2_Score"].iloc[i]=AllTeam["R_Team1_Score"].iloc[j]
/var/folders/s5/4b25bvq14pqbm1qxsg0hhlr40000gn/T/ipykernel_29856/715836050.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  AllTeam["R_Team2_Passing"].iloc[i]=AllTeam["R_Team1_Passing"].iloc[j]
/var/folders/s5/4b25bvq14pqbm1qxsg0hhlr40000gn/T/ipykernel_29856/715836050.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  AllTeam["R_Team2_Rushing"].iloc[i]=AllTeam["R_Team1_Rushing"].iloc[j]
/var/folders/s5/4b25bvq14pqbm1qxsg0hhlr40000gn/T/ipykernel_29856/715836050.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  AllTeam["R_Team2_Turnovers"].iloc[i]=AllTeam["R_Team1_Turnovers"].iloc[j]

97
472
401
48
15
532
424
336
373
55
108
410
129
523
396
80
254
170
473
136
31
476
119
120
318
337
37
465
268
200
432
361
132
186
382
436
348
101
387
352
121
123
406
390
3
482
323
522
24
112
26
43
169
510
474
190
531
404
478
194
212
408
357
377
147
343
184
27
434
205
454
66
191
369
461
141
426
338
38
393
23
130
78
470
274
135
529
385
50
51
69
281
70
425
463
20
304
376
40
111
344
61
526
221
116
47
402
477
516
105
407
322
446
181
94
202
362
415
239
222
257
455
533
496
498
211
480
286
231
305
430
251
292
81
45
275
13
332
278
316
441
355
501
375
146
342
201
96
414
62
255
365
437
84
102
209
353
88
518
374
409
429
58
183
148
451
99
331
349
368
192
227
160
89
303
248
288
448
413
345
134
152
276
259
243
210
245
265
163
249
379
291
450
471
151
366
314
420
226
228
302
444
214
232
411
166
290
271
44
187
153
438
225
317
280
0
301
229
519
287
57
484
253
309
328
115
171
223
512
174
299
262
122
460
300
1
162
267
215
395
252
236
168
508
311
330
384
475
493
279
283
264
246
213
127
164
504
25
486
272
11
294
347
241
333
175
261
52
18
2
481
144
75
485
524
9
398
273
509
295
206
173
315
514
371
35
54
107
428
358
467
182
95
131
220
489
312
65
207
386
440
68
193
442
178
391
91
340
7
60
149
381
435
188
240
419
208
103
422
335
462
36
196
180
128
93
431
235
433
363
63
12
296
118
350
67
17
517
72
356
502
109
6
289
42
469
327
488
527
30
137
456
86
71
142
90
197
39
250
505
218
185
150
453
367
242
457
370
458
34
124
106
464
339
198
165
378
59
380
98
364
64
189
258
513
351
176
354
247
4
145
468
217
237
204
417
100
154
403
421
423
497
282
104
372
125
427
56
521
341
447
397
113
238
29
46
83
297
49
139
87
499
161
321
74
22
269
324
308
10
399
346
528
511
298
16
515
158
459
159
479
19
179
392
5
306
412
8
525
293
329
82
491
277
439
334
495
140
389
195
266
21
466
76
41
325
507
133
400
490
117
14
85
33
157

In [182]:
AllTeam.head()

,Team1,Week,Game Number,Game Location,Team2,Team1_Score,Team2_Score,Team1_Passing,Team1_Rushing,Team1_Turnovers,...,Abb1,Abb2,R_Team1_Score,R_Team1_Passing,R_Team1_Rushing,R_Team1_Turnovers,R_Team2_Score,R_Team2_Passing,R_Team2_Rushing,R_Team2_Turnovers
0,Arizona Cardinals,1,1,NaN,Kansas City Chiefs,21.0,44.0,179.0,103.0,0,...,ARI,KC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arizona Cardinals,2,2,AWAY,Las Vegas Raiders,29.0,23.0,270.0,143.0,1,...,ARI,OAK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arizona Cardinals,3,3,NaN,Los Angeles Rams,12.0,20.0,295.0,70.0,0,...,ARI,LAR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arizona Cardinals,4,4,AWAY,Carolina Panthers,26.0,16.0,206.0,132.0,1,...,ARI,CAR,20.666667,248.0,105.333333,0.333333,20.666667,161.333333,115.0,1.0
4,Arizona Cardinals,5,5,NaN,Philadelphia Eagles,17.0,20.0,239.0,124.0,1,...,ARI,PHI,22.333333,257.0,115.000000,0.666667,25.666667,280.666667,148.333333,0.666667

In [183]:
elo=pd.read_csv(r'/Users/macbook/Desktop/Super Bowl/nfl_elo_latest.csv')

In [184]:
elo["Week"]=None
for m in range(len(AllTeam)):
    for p in range(len(elo)):
        if ((AllTeam.Abb1.iloc[m]==elo.team1.iloc[p]) 
            and (AllTeam.Abb2.iloc[m]==elo.team2.iloc[p]) 
            and (AllTeam.Team1_Score.iloc[m]==elo.score1.iloc[p])
            and (AllTeam.Team2_Score.iloc[m]==elo.score2.iloc[p])):
            
            elo.Week.iloc[p]=AllTeam.Week.iloc[m]
        if ((AllTeam.Abb1.iloc[m]==elo.team2.iloc[p]) 
            and (AllTeam.Abb2.iloc[m]==elo.team1.iloc[p]) 
            and (AllTeam.Team1_Score.iloc[m]==elo.score2.iloc[p])
            and (AllTeam.Team2_Score.iloc[m]==elo.score1.iloc[p])):
            elo.Week.iloc[p]=AllTeam.Week.iloc[m]

/var/folders/s5/4b25bvq14pqbm1qxsg0hhlr40000gn/T/ipykernel_29856/3052144084.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  elo.Week.iloc[p]=AllTeam.Week.iloc[m]
/var/folders/s5/4b25bvq14pqbm1qxsg0hhlr40000gn/T/ipykernel_29856/3052144084.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  elo.Week.iloc[p]=AllTeam.Week.iloc[m]

In [185]:
elo.to_csv('/Users/macbook/Desktop/Super Bowl/eloWeek.csv', index=False, header=True)
AllTeam.to_csv('/Users/macbook/Desktop/Super Bowl/AllTeam.csv', index=False, header=True)

In [186]:
elo_2=elo.copy()
elo_2=elo_2.rename(columns={'team1':'team2', 'team2':'team1', 'elo1_pre':'elo2_pre',
       'elo2_pre':'elo1_pre', 'elo_prob1':'elo_prob2', 'elo_prob2':'elo_prob1', 'elo1_post':'elo2_post', 'elo2_post':'elo1_post',
       'qbelo1_pre':'qbelo2_pre', 'qbelo2_pre':'qbelo1_pre', 'qb1':'qb2', 'qb2':'qb1', 'qb1_value_pre':'qb2_value_pre',
       'qb2_value_pre':'qb1_value_pre', 'qb1_adj':'qb2_adj', 'qb2_adj':'qb1_adj', 'qbelo_prob1':'qbelo_prob2', 'qbelo_prob2':'qbelo_prob1',
       'qb1_game_value':'qb2_game_value', 'qb2_game_value':'qb1_game_value', 'qb1_value_post':'qb2_value_post', 'qb2_value_post':'qb1_value_post',
       'qbelo1_post':'qbelo2_post', 'qbelo2_post':'qbelo1_post', 'score1':'score2', 'score2':'score1'})

In [187]:
elo_twice=pd.concat([elo, elo_2] , axis=0, ignore_index=True)
elo_twice.to_csv('/Users/macbook/Desktop/Super Bowl/elo_twice.csv', index=False, header=True)